<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/bg-image.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/magin.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/color.css">
	<link rel="stylesheet" href="__STATIC__/js/datepicker/assets/css/plugins/datetime/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="__STATIC__/js/datepicker/assets/css/plugins/bootstrap-datepicker/datepicker.css">
	<link href="__STATIC__/js/SelectChosen/dist/css/component-chosen.css" rel="stylesheet">
	<title>Flight Dynamic Status</title>
</head>
<body>
{if condition="session('account_id') != null && session('account_name') != null && session('account_type') == 2"}
	{include file="static/includefile/HeadPre.html" /}
        {volist name="flight" id="value"}
		<div class="container" style="font-family: Kohinoor Devanagari Medium;">
			<div class="col-md-12 bg-white img-rounded maginbottom-1">
				<div class="row">
					<div class="col-md-2 magintop-3 maginbottom-1 maginleft-1">
						<img src="__STATIC__/icon-image/logoOG.png" width="40">{$value.flight_no}
					</div>
					<div class="col-md-3 magintop-2 maginbottom-1">
						<center><p style="font-family: Kohinoor Devanagari Bold;font-size: 15px">
							{$value.dAirport_name} - {$value.aAirport_name}
						</p></center>
						<center><p style="font-size: 10px">
							 {$value.dTerminal_name}
							-
							 {$value.aTerminal_name}
						</p></center>
					</div>
					<div class="col-md-2 magintop-3 maginbottom-1">
						<center>{$value.flight_date}</center>
					</div>
					<div class="col-md-3 magintop-2 maginbottom-1">
						<div class="row">
							<div class="col-md-2 maginleft-10">
								Departs
								<p style="font-family: Kohinoor Devanagari Bold;font-size: 20px">
									{$value.actual_departure_time}
								</p>
							</div>
							<div class="col-md-2 maginleft-30">
								Arrives
								<p style="font-family: Kohinoor Devanagari Bold;font-size: 20px">
									{$value.actual_arrival_time}
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-1 magintop-2 maginbottom-1 maginleft-2">
						<center>{$value.daily_flight_status}</center>
						<center>
                            <form action="{:url('/jumpToModifyFlightDynamic')}" method="post">
                                <input type="hidden" name="daily_flight_no" value="{$value.daily_flight_no}">
                                <input type="hidden" name="flight_no" value="{$value.flight_no}">
                                <input type="hidden" name="flight_date" value="{$value.flight_date}">
                                <button class="btn btn-primary">Modify</button>
                            </form>
						</center>
					</div>
				</div>
			</div>

		</div>
        {/volist}
		<div class="col-md-4 magintop-2 col-md-offset-4">
            <center><a href="{:url('/airport')}"><img src="__STATIC__/icon-image/back-3.png" width="60"></a></center>
		</div>
{else /}
    <script type="text/javascript">
        window.location.href = "{:url('/login')}";
    </script>
{/if}
	<div class="container">
		<hr>
		<footer>
			<p style="font-family: Kohinoor Devanagari Regular; font-size: 12px">Copyright &copy; 2019 Edonkey All rights reserved</p>
		</footer>
	</div>
	<!-- CORE -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
	<!-- datepicker -->
	<script src="__STATIC__/js/datepicker/assets/js/plugins/duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
	<script src="__STATIC__/js/datepicker/assets/js/plugins/datetime/bootstrap-datetimepicker.min.js"></script>
	<script src="__STATIC__/js/datepicker/datepicker.js"></script>
	<!-- hover-dropdown -->
	<script src="__STATIC__/js/hover/twitter-bootstrap-hover-dropdown.js"></script>
	<script src="__STATIC__/js/hover/hover.js"></script>
	<!-- Chosen -->
	<script src="__STATIC__/js/SelectChosen/chosen/chosen.jquery.js"></script>
	<script src="__STATIC__/js/SelectChosen/chosen.js"></script>
</body>
</html>
