<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/bg-image.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/magin.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/color.css">
	<link rel="stylesheet" href="__STATIC__/js/datepicker/assets/css/plugins/datetime/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="__STATIC__/js/datepicker/assets/css/plugins/bootstrap-datepicker/datepicker.css">
	<link href="__STATIC__/js/SelectChosen/dist/css/component-chosen.css" rel="stylesheet">
	<title>Airport Input</title>
</head>
<body>
{if condition="session('account_id') != null && session('account_name') != null && session('account_type') == 1"}
	{include file="static/includefile/HeadPre.html" /}
	<div class="container" style="font-family: Kohinoor Devanagari Medium;">
		<div class="col-md-12 bg-gray img-rounded">
			<ul class="nav nav-tabs magintop-2" role="tablist">
				<li role="presentation" class="active">
					<a href="#Airport" role="tab" data-toggle="tab">Airport Input</a>
				</li>
				<li role="presentation"><a href="#Terminal"role="tab" data-toggle="tab">Terminal Input</a></li>
			</ul>
			<div class="tab-content magintop-2">
				<div role="tabpanel" class="tab-pane active" id="Airport">
					<div class="col-md-6 col-md-offset-3">
						<form class="form-horizontal" method="post" action="{:url('/addAirport')}">
                        {if condition="session('addAirportFlag')"}
							<div class="form-group">
								<h2 style="font-family: Kohinoor Devanagari Regular; font-size:15px; color:#4479b2;"><center>
								Add Airport Successful!
								</center></h2>
							</div>
                        {/if}
                        {if condition="session('addTerminalFlag')"}
							<div class="form-group">
								<h2 style="font-family: Kohinoor Devanagari Regular; font-size:15px; color:#4479b2;"><center>
								Add Terminal Successful!
								</center></h2>
							</div>
                        {/if}
							<div class="form-group">
								<label for="Phone" class="col-sm-4 control-label">City</label>
								<div class="col-sm-6">
									<select class="form-control form-control-chosen-required" required data-placeholder="City"
										name="city_name">
										{include file="static/includefile/CityPre.html" /}
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="Phone" class="col-sm-4 control-label">Airport Name</label>
								<div class="col-sm-6">
									<input class="form-control" id="Phone" required placeholder="Airport Name" name="airport_name">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-5 col-sm-offset-4">
									<button class="btn btn-lg btn-primary btn-block maginbottom-5" type="submit">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="Terminal">
					<div class="col-md-6 col-md-offset-3">
						<form class="form-horizontal" method="post" action="{:url('/addTerminal')}">
							<div class="form-group">
								<label for="Phone" class="col-sm-4 control-label">Airport</label>
								<div class="col-sm-6">
									<select class="form-control form-control-chosen-required" required data-placeholder="Airport"
										name="airport_name">
										{include file="static/includefile/AirportPre.html" /}
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="Phone" class="col-sm-4 control-label">Terminal Name</label>
								<div class="col-sm-6">
									<input class="form-control" id="Phone" required placeholder="Terminal Name" name="terminal_name">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-5 col-sm-offset-4">
									<button class="btn btn-lg btn-primary btn-block maginbottom-5" type="submit">Submit</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 magintop-2 col-md-offset-4">
			<center><a href="{:url('/functionChoose')}"><img src="__STATIC__/icon-image/back-3.png" width="60"></a></center>
		</div>
	</div>
{else /}
    <script type="text/javascript">
        window.location.href = "{:url('/login')}";
    </script>
{/if}
{$addAirportFlag = session('addAirportFlag',null)}
{$addTerminalFlag = session('addTerminalFlag',null)}
	<div class="container">
		<hr>
		<footer>
			<p style="font-family: Kohinoor Devanagari Regular; font-size: 12px">Copyright &copy; 2019 Edonkey All rights reserved</p>
		</footer>
	</div>
	<!-- CORE -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
	<!-- datepicker -->
	<script src="__STATIC__/js/datepicker/assets/js/plugins/duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
	<script src="__STATIC__/js/datepicker/assets/js/plugins/datetime/bootstrap-datetimepicker.min.js"></script>
	<script src="__STATIC__/js/datepicker/datepicker.js"></script>
	<!-- hover-dropdown -->
	<script src="__STATIC__/js/hover/twitter-bootstrap-hover-dropdown.js"></script>
	<script src="__STATIC__/js/hover/hover.js"></script>
	<!-- Chosen -->
	<script src="__STATIC__/js/SelectChosen/chosen/chosen.jquery.js"></script>
	<script src="__STATIC__/js/SelectChosen/chosen.js"></script>
</body>
</html>
